In [37]:
import pandas as pd
import seaborn
import inline

ModuleNotFoundError: No module named 'inline'

In [5]:
data = pd.read_csv('./data/uber-raw-data-apr14.csv')
print(data.head())

          Date/Time      Lat      Lon    Base
0  4/1/2014 0:11:00  40.7690 -73.9549  B02512
1  4/1/2014 0:17:00  40.7267 -74.0345  B02512
2  4/1/2014 0:21:00  40.7316 -73.9873  B02512
3  4/1/2014 0:28:00  40.7588 -73.9776  B02512
4  4/1/2014 0:33:00  40.7594 -73.9722  B02512

# Convert date time to time and add some useful columns

In [16]:
data['Date/Time'] = data['Date/Time'].map(pd.to_datetime)

In [17]:
print(data.tail())

                 Date/Time      Lat      Lon    Base
564511 2014-04-30 23:22:00  40.7640 -73.9744  B02764
564512 2014-04-30 23:26:00  40.7629 -73.9672  B02764
564513 2014-04-30 23:31:00  40.7443 -73.9889  B02764
564514 2014-04-30 23:32:00  40.6756 -73.9405  B02764
564515 2014-04-30 23:48:00  40.6880 -73.9608  B02764

In [20]:
dt = data['Date/Time'][0]
print(dt.month)

4

In [28]:
def get_month(dt):
    return dt.day

data['dom'] = data['Date/Time'].map(get_month)

data.tail()

                 Date/Time      Lat      Lon    Base  month  day  hour  dom
564511 2014-04-30 23:22:00  40.7640 -73.9744  B02764      4   30    23   30
564512 2014-04-30 23:26:00  40.7629 -73.9672  B02764      4   30    23   30
564513 2014-04-30 23:31:00  40.7443 -73.9889  B02764      4   30    23   30
564514 2014-04-30 23:32:00  40.6756 -73.9405  B02764      4   30    23   30
564515 2014-04-30 23:48:00  40.6880 -73.9608  B02764      4   30    23   30

In [31]:
def get_day(dt):
    return dt.day

data['day'] = data['Date/Time'].map(get_day)

data.tail()

                 Date/Time      Lat      Lon    Base  month  day  hour  dom
564511 2014-04-30 23:22:00  40.7640 -73.9744  B02764      4   30    23   30
564512 2014-04-30 23:26:00  40.7629 -73.9672  B02764      4   30    23   30
564513 2014-04-30 23:31:00  40.7443 -73.9889  B02764      4   30    23   30
564514 2014-04-30 23:32:00  40.6756 -73.9405  B02764      4   30    23   30
564515 2014-04-30 23:48:00  40.6880 -73.9608  B02764      4   30    23   30

In [32]:
def get_hour(dt):
    return dt.hour

data['hour'] = data['Date/Time'].map(get_hour)
  
data.tail()

                 Date/Time      Lat      Lon    Base  month  day  hour  dom
564511 2014-04-30 23:22:00  40.7640 -73.9744  B02764      4   30    23   30
564512 2014-04-30 23:26:00  40.7629 -73.9672  B02764      4   30    23   30
564513 2014-04-30 23:31:00  40.7443 -73.9889  B02764      4   30    23   30
564514 2014-04-30 23:32:00  40.6756 -73.9405  B02764      4   30    23   30
564515 2014-04-30 23:48:00  40.6880 -73.9608  B02764      4   30    23   30

In [36]:
hist(data.day)

AttributeError: module 'seaborn' has no attribute 'hist'